<footer class="footer footer-center p-4 text-white">
  <aside>
    <div class="footer-content">
      <p>
        Copyright © 2024 | All rights reserved by Vertial Holdings Pty Ltd&nbsp;&nbsp;
      </p>
      <p class="email">
        <a href="mailto:info@vidscript.co" class="text-white email-link">
          <img src="/images/envelope.svg" alt="Contact Icon" class="email-icon" />
          info@vidscript.co
        </a>
      </p>
    </div>
    <p>
      <a href="/privacy-policy" class="text-white underline">Privacy Policy</a> |
      <a href="/terms-of-service" class="text-white underline">Terms of Service</a>
    </p>
  </aside>
</footer>
