<div class="navbar bg-base-100">
    <div class="navbar-start">
      <a href="/" class="btn btn-ghost text-xl">
        <img src="VidscriptLogo_Basic.svg" alt="Vidscript Logo" class="h-10 mr-2" />
        Vidscript
      </a>
    </div>
    <div class="navbar-end">
      <div id="userButtons">
        <button id="sign-in-button" class="btn">Sign In</button>
        <button id="sign-up-button" class="btn">Sign Up</button>
      </div>
      <div id="userAvatar" class="dropdown dropdown-end" style="display: none;">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img alt="User Avatar" id="userAvatarImg" src="" />
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52" style="color: #333;">
          <li><a id="profile-link">Profile</a></li>
          <li><a id="sign-out-button">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  