<!DOCTYPE html>
<html lang="en">
  <%- include('header', { title: "Privacy Policy - Vidscript", description: "Read our privacy policy.", url: url }) %>
  <head>
    <style>
      .policy-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        line-height: 1.6;
      }
      .policy-container h2 {
        margin-top: 20px;
      }
      .policy-container p {
        margin: 10px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%- include('navbar') %>
      <div class="page-container">
        <h1 class="text-center mb-8 custom-h1">Privacy Policy</h1>
        <div class="policy-container">
          <p><strong>Effective Date: 26th May 2024</strong></p>

          <p>Welcome to Vidscript. We respect your privacy and are committed to protecting your personal data. This Privacy Policy outlines how we collect, use, and safeguard your information when you use our website, <a href="https://www.vidscript.co">https://www.vidscript.co</a> ("Site"). Please read it carefully.</p>

          <h2>1. Information We Collect</h2>
          <p><strong>Personal Data:</strong></p>
          <ul>
            <li>Name</li>
            <li>Email</li>
            <li>Payment information</li>
          </ul>

          <p><strong>Non-Personal Data:</strong></p>
          <ul>
            <li>Web cookies</li>
          </ul>

          <h2>2. Purpose of Data Collection</h2>
          <p>We collect your personal data to process orders and provide our services to you.</p>

          <h2>3. Data Sharing</h2>
          <p>We do not share your personal data with any other parties.</p>

          <h2>4. Children's Privacy</h2>
          <p>We do not collect any data from children.</p>

          <h2>5. Cookies</h2>
          <p>We use cookies to enhance your experience on our Site. Cookies are small files stored on your device that help us analyze web traffic and improve our website. You can choose to accept or decline cookies through your browser settings.</p>

          <h2>6. Governing Law</h2>
          <p>This Privacy Policy is governed by and construed in accordance with the laws of Australia, without regard to its conflict of law principles.</p>

          <h2>7. Changes to the Privacy Policy</h2>
          <p>We reserve the right to update or modify this Privacy Policy at any time. If we do so, we will notify users by email. Your continued use of the Site after any changes to the Privacy Policy indicates your acceptance of the new terms.</p>

          <h2>8. Contact Information</h2>
          <p>If you have any questions about this Privacy Policy, please contact us at <a href="mailto:info@vidscript.co">info@vidscript.co</a>.</p>
        </div>
      </div>
      <%- include('footer') %>
    </div>
  </body>
</html>
