<!DOCTYPE html>
<html lang="en">
  <%- include('header', { title: "Privacy Policy - Vidscript", description:
  "Read our privacy policy.", url: url }) %>
  <head>
    <style>
      .policy-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        line-height: 1.6;
      }
      .policy-container h2 {
        margin-top: 20px;
      }
      .policy-container p {
        margin: 10px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%- include('navbar') %>
      <div class="page-container">
        <h1 class="text-center mb-8 custom-h1">Privacy Policy</h1>
        <div class="policy-container">
          <button class="btn">
            <span class="loading loading-spinner"></span>
            loading
          </button>
          <button class="btn btn-square">
            <span class="loading loading-spinner"></span>
          </button>
        </div>
      </div>
      <%- include('footer') %>
    </div>
  </body>
</html>
